.title_page {
  display: flex;
  flex-direction: column;
  font-family: AbhaBold;
  color: var(--lightGreen);
  font-size: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
