@font-face {
  font-family: Antic;
  src: url("../assets/AnticSlab-Regular.ttf");
}

@font-face {
  font-family: Abha;
  src: url("../assets/AbhayaLibre-ExtraBold.ttf");
}

@font-face {
  font-family: Play;
  src: url("../assets/PlayfairDisplay-VariableFont_wght.ttf");
}

.festival {
  display: flex;
  flex-direction: row;
  border: 5px solid #bdc9ac;
  padding: 10px;
  margin: 100px;
}

.festival-container {
  display: grid;
  grid-template-columns: 35% 65%;
  flex-direction: row;
  justify-content: space-between;
}

.principal-box {
  color: #bdc9ac;
  font-size: 30px;
  border: 2px solid #bdc9ac;
  text-align: center;
  font-family: Abha;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 140px;
}

.dates-box {
  color: #bdc9ac;
  border: 2px solid #bdc9ac;
  margin-left: 0;
  height: 100%;
  padding: 10px;
}
