#main_container {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid #bdc9ac;
  margin-left: 10px;
  margin-right: 10px;
}

// Containeur contenant tous les inputs///////////////////////////
.filtres_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #bdc9ac;
  color: #bdc9ac;
  width: 20%;
  // height: 100%;
  padding: 5% 2% 5% 2%;
  font-size: 0.7rem;
  gap: 30px;

  // Titre du conteneur contanant tous les inputs/////////////////////
  .filters_title {
    text-align: center;
    font-size: 1.7rem;
  }

  // Conteneur barre de recherche////////////////
  .searchBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #bdc9ac;
    height: 40px;
    gap: 15px;
    background-color: #442332;
    margin: 30px 0px 30px 0px;
    padding-left: 5px;

    // Input barre de recherche/////////////
    .input_search {
      height: 100%;
      width: 100%;
      border: none;
      background: #442332;
      color: #bdc9ac;
    }
    .input_search::placeholder {
      color: #bdc9ac;
    }
  }
  ///////////Conteneur des inputs et titre des Prix, Thematique, Types et couleurs/////////////////////////////////////////////////////
  .filtre_container {
    margin: 10px 0px 10px 0px;
  }

  .filtre_title {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-bottom: 20px;
    gap: 2px;
  }

  // Input Prix/////////
  .label_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
  }

  .input_range {
    width: 100%;
    accent-color: #b86a46;
  }

  // Input Thématique/////////
  .thematique_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    .thematique_button {
      background-color: #442332;
      color: #bdc9ac;
      border: 2px solid #bdc9ac;
      height: 50px;
      font-size: 0.7rem;

      &:hover {
        background-color: #bdc9ac;
        color: #442332;
      }
    }
  }
  // Input Types/////////
  .types_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .type_button {
      margin-right: 10px;
      font-size: 0.7rem;
      accent-color: #bdc9ac;
    }
  }

  // Input couleurs/////////
  .colors_buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;

    .color_button {
      width: 30px;
      height: 30px;
    }
  }
}

.view_articles {
  display: flex;

  // height: 100%;
}
