#nouveautés {
  position: relative;
  background-color: #bdc9ac;
  margin: 100px 0;
  padding: 50px;

  #ivyTopNew {
    position: absolute;
    top: -7vh;
    left: 0;
  }

  #nouveautés-content {
    border: 3px solid #8d214c;
    padding: 50px;

    #nouveautés-title {
      color: rgba(141, 33, 76, 1);
      font-family: "Abha", serif;
      font-size: clamp(19px, 3.385vw, 76px);
      margin: 50px auto 50px 200px;
    }

    #nouveautés-articles {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 50px;

      button {
        background-color: #8d214c;
        border: none;
        color: #bdc9ac;
        cursor: pointer;
        font-family: "Antic", serif;
        font-size: 19px;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 73px;
        width: 232px;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  #nouveautés {
    #nouveautés-content {
      #nouveautés-title {
        margin-left: auto;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 793px) {
  #nouveautés {
    #nouveautés-content {
      #nouveautés-articles {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  #nouveautés {
    padding: 50px 0;

    #nouveautés-content {
      padding: 50px 0;
    }
  }
}
