.password-secure-indicator {
  display: flex;
  gap: 8px;

  .line-user-info {
    height: 1px;
    background-color: var(--lightGreen);
    width: 100%;
  }

  .secure-bar {
    width: 30px;
    height: 10px;
    border-radius: 5px;
    background-color: lightgrey;

    &.active {
      background-color: green;
    }
  }
}
